*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
**/build

# Signing
keystore/
*.keystore
*.jks
keystore.properties

# Firebase
google-services.json
